<script>
import { GlFormSelect } from "@gitlab/ui";

import "@gitlab/ui/dist/index.css";
import "@gitlab/ui/dist/utility_classes.css";

export default {
  components: {
    GlFormSelect,
  },
};
</script>

<template>
  <div id="app">
    <gl-form-select :options="['one', 'two']"></gl-form-select>
  </div>
</template>
